<div class="header-container">
<h1 class="text-center"><%= @student.first_name %> <%= @student.last_name %>'s Grade</h1></div>
<%= form_for [@cohort, @grade] do |f| %>
  <%= f.label :mark %>
  <%= f.text_field :mark, value: @grade.mark%>
  <%= f.submit %>
<% end %>
