<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h"><%=@cohort.name%></h1></div>
<%= form_for [@cohort, @grade] do |f| %>
  <%= f.label :student_id %>
  <%=f.collection_select(:student_id, @students, :id, :last_name) %>

  <%= f.hidden_field :cohort_id, value: params[:cohort_id]%>
  <%= f.hidden_field :mark, value: 'N/A'%>

  <%= f.submit "Add to Cohort" %>
<% end %>
