<div class="container">
<%= bootstrap_form_for @cohort, remote:true do |f| %>
<div class="form-row">
  <div class="col">

  <%= f.text_field :name, required:true%>
</div>
<div class="col">
<%= f.collection_select :educator_id, Educator.order(:full_name), :id,:last_name, include_blank: true %>
</div>
</div>
  <div class="form-row">
  <div class="col">
  <%= f.date_field :start, required:true%>
</div>

    <div class="col">

  <%= f.date_field :end, required:true%>
</div>

</div>
  <%= f.hidden_field :course_id, value: params[:course_id]%>

  <%= f.submit %>
<% end %>
</div>
