<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">Cohorts</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Professor</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @cohorts.each do |cohort| %>
      <tr>
        <td> <a href="/courses/<%=params[:course_id]%>/cohorts/<%=cohort.id%>"><%= cohort.name %></a></td>
        <td><a href="/educators/<%=cohort.educator.id%>">Professor <%= cohort.educator.last_name %></a></td>
        <td><%= cohort.start %></td>
        <td><%= cohort.end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
