<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>_h"><%= @cohort.name %> </h1>
</div>
<h2>From:<%= @cohort.start %> Until:<%= @cohort.end %> </h2>
<h2> Taught by: Professor <%= @cohort.educator.last_name %> </h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody id="cohort_students">
      <% @cohort.students.each do |student| %>
      <tr>
        <td> <a href="/students/<%=student.id%>"><%= student.first_name %></a></td>
        <td><%= student.last_name %></td>
        <td><%= student.age %></td>
        <td><a href="/cohorts/<%=@cohort.id%>/grades/<%=student.grades.find_by(cohort_id:@cohort.id).id%>/edit"><%= student.grades.find_by(cohort_id:@cohort.id).mark %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="<%=params[:id]%>/edit"><button type="button" class="btn btn-primary" >Edit</button></a>
