<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">Hogwarts Students</h1></div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody id="all-students">
      <% @students.each do |student| %>
      <tr>
        <td>
          <% if current_user.userable_type == "Administrator"%><a href="/students/<%=student.id%>"><%= student.first_name %></a><% else %><%= student.first_name %><% end %></td>
          <td><%= student.last_name %></td>
          <td><%= student.age %></td>
          <% if current_user.userable_type == "Administrator" %>
          <td><a href="/students/<%=student.id%>/edit">Edit</a></td>
          <td><%= link_to 'Expel', student_path(student), method: :delete, remote:true, data: { confirm: 'Are you sure you want to expel this student?' } %></td>
          <%end%>
          <!-- Ending and delete functionalities -->
        </tr>
        <% end %>
    </tbody>
  </table>
  <% if current_user.userable_type == 'Administrator' %>
  <%= link_to 'Invite new Student!', new_student_path, remote: true, id: "student-ajaxcall" %>
  <div id="student-form" style="display:none;">
  </div>
  <% end %>
</div>
