<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h"><%= @student.first_name %> <%= @student.last_name %> </h1></div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Cohort</th>
        <th>Professor</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <% @student.cohorts.each do |cohort| %>
      <tr>
        <td> <%= Course.find(cohort.course_id).name %></td>
        <td> <%= cohort.name %></td>
        <td><%= cohort.educator.last_name %></td>
        <td><a href="/cohorts/<%=cohort.id%>/grades/<%=cohort.grades.find_by(student_id: @student.id).id%>/edit"><%= cohort.grades.find_by(student_id: @student.id).mark %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="<%=params[:id]%>/edit"><button type="button" class="btn btn-primary" >Edit</button></a>
