//Hide my new task form because the user has now submitted the data
console.log('trying to render form');

form.style.display = "none";
console.log("<%=@educator.first_name%>");

//Render my new task into a partial and render that partial onto the screen via DOM manipulation
$('#all-educators').append('<tr><td><a href="/educators/<%=@educator.id%>"><%= @educator.first_name%></a></td> <td><%= @educator.last_name%></td> <td><%= @educator.education%></td> <td><%= @educator.age%></td> <td><%= @educator.salary%></td></tr>');
