<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">Professors</h1></div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Education</th>
        <th>Age</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% @educators.each do |educator| %>
      <tr>
        <td> <a href="/educators/<%=educator.id%>"><%= educator.first_name %></a></td>
        <td><%= educator.last_name %></td>
        <td><%= educator.education %></td>
        <td><%= educator.age %></td>
        <td><%= educator.salary %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
