<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">Professors</h1></div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Education</th>
        <th>Age</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody id="all-educators">
      <% @educators.each do |educator| %>
      <tr>
        <td> <a href="/educators/<%=educator.id%>"><%= educator.first_name %></a></td>
        <td><%= educator.last_name %></td>
        <td><%= educator.education %></td>
        <td><%= educator.age %></td>
        <td><%= educator.salary %></td>
        <!-- Adding edit and delete ajax calls -->
        <td><%= link_to 'Edit', edit_educator_path(educator), remote:true %></td>
        <td><%= link_to 'Fire', educator_path(educator), method: :delete, remote:true, data: { confirm: 'Are you sure you want to fire this educator?' } %></td>
        <!-- Ending and delete functionalities -->
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.userable_type == 'Administrator' %>
  <%= link_to 'Hire new Professor!', new_educator_path, remote: true, id: "ajaxcall" %>
  <div id="educator-form" style="display:none;">
  </div>
  <% end %>
</div>
