<div class="header-container">
<h1 class="text-center">House Cup Current Standings</h1></div>


<h2> First Place: <%=@houses[3].name%>: <%=@houses[3].points%> Points</h2>
<h2> Second Place: <%=@houses[2].name%>: <%=@houses[2].points%> Points</h2>
<h2> Third Place: <%=@houses[1].name%>: <%=@houses[1].points%> Points</h2>
<h2> Fourth Place: <%=@houses[0].name%>: <%=@houses[0].points%> Points</h2>
