<img src="/assets/Hogwarts_Crest.png" id="school_crest">
<nav class="navbar <%=@color_scheme%>_background navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!-- put an image here -->
  <span class="navbar-toggler-icon"></span>
  <%if user_signed_in?%>
  <h2 class="navbar-brand <%=@color_scheme%>_text"  ><%= link_to "Logout", destroy_user_session_path, method: :delete%></h2>
  <%else%>
  <h2 class="<%=@color_scheme%>_text"> <%= link_to "Login", new_user_session_path %> </h2>
  <%end%>


</nav>
