<% @houses = House.all
@houses = @houses.sort_by{|house| house.points}
@color_scheme = @houses[3].name.downcase %>
<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">Log in</h1></div>

<div class="container login-form" >
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field form-row">
    <div class="col s6">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</div>

  <div class="field row">
    <div class="col s4">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>

    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class:"btn-block btn-dark" %>
  </div>
<% end %>
</div>
