<h1><%= @administrator.first_name %> <%= @administrator.last_name %></h1>
<h2> Information </h2>
<ul>
  <li>Education: <%=@administrator.education %></li>
  <li>Age: <%=@administrator.age %></li>
  <li>Salary: <%=@administrator.salary %> Galleons</li>
</ul>
