<div class="header-container <%=@color_scheme%>_header">
<h1 class="text-center <%=@color_scheme%>-h">Courses</h1></div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody class="all-courses">
      <% @courses.each do |course| %>
      <tr>
        <td> <a href="/courses/<%=course.id%>/cohorts"><%= course.name %></a></td>
        <td><%= course.hours %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.userable_type == 'Administrator' %>
  <%= link_to 'Create new Course!', new_course_path, remote: true, id: "course-ajaxcall" %>
  <div id="course-form" style="display:none;">
  </div>
  <% end %>
</div>
