<!DOCTYPE html>
<html>
<head>
  <title>PamelasPanel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <link href="https://fonts.googleapis.com/css?family=Kurale|Reem+Kufi" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>

  <%= render "shared/adminsidenavbar" %>
  <div class="container-fluid">
    <div class="row">
      <%= render "shared/header" %>


      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">


        <%= yield %>



      </main>
    </div>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
